.pricing ul li{
    font-size: 12px;
    color: #2c3846;
    font-weight: 500;
}
.dataTables_filter input{
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    height: 2rem;
}
label , .form-select , .dataTables_info{
    color: #2c3846;
}
.page-item.active .page-link {
    background-color: #045281;
    border-color: #045281;
}
table thead{
    background: #045281;
    color: #fff;
}
.dataTables_filter{
    display: none;
}