.orderSummaryPage{
    display: flex;
    align-items: center;
    justify-content: center;
    
    justify-content: center;
    margin: 50px 0px 80px;

}
.orderSummaryPage .ThankYouDIv{
    
    background: #0f80de;
    padding: 110px 20px;

}
.orderSummaryPage .thankYouText{
    display: flex;
    align-items: center;
    justify-content: center;
}
.orderSummaryPage .thankYouText img{
    display: flex;
    width: 70px;
}
.orderSummaryPage .thankYouText .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}

.orderSummaryPage .thankYouText h4{
    color: white;
    font-size: 34px;
    font-weight: 500;
}

.orderSummaryPage .thankYouText p{
    color: white;
font-size: 15px;
}
.invoiceDetail{

    margin: 43px 0px;
}
.invoiceTab{
    background: #045282;
    color: white;
    padding: 14px 35px;
    font-size: 15px;
    box-shadow: 0px 0px 9px -1px #000000a6;
    border-radius: 4px;
    
    margin-bottom: 10px;

}
 .invoiceText{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px;
    border-bottom: 2px solid #dedede;
}
 .invoiceText .name{
    
    color: black;
    font-size: 15px;
    width: 50%;

}
.invoiceText .value{
    width: 50%;

}
.invoiceDetail .TotalAmount{
    background-color: #0f80de;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.invoiceDetail .paymentdetail{
    text-align: center;
}
.invoiceDetail.paymentMainDetail{
    background: #eeeefa;
    border-radius: 5px;
}
.invoiceDetail .invoicePaymentDetail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;

}
.invoiceDetail .invoicePaymentDetail button{
    background-color: #0f80de;

    color: white;
    padding: 10px 35px;
    font-size: 15px;
    box-shadow: 0px 0px 9px -1px #000000a6;
    border-radius: 4px;
    
    margin-bottom: 10px;
    width: 40%;
border: none;
margin: 17px 0px;
}
.invoiceDetail .invoicePaymentDetail p {
    margin: 0px;
}
.note{
    color: red;
    font-size: 10px;
}
.orderSummaryPage .rightCol{
    padding-left: 20px;
}
.rightCol .rating{
    background: rgb(51,119,230);
    background: linear-gradient(131deg, rgba(51,119,230,1) 0%, rgba(103,95,217,1) 69%);
   
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border-bottom-left-radius:0px ;
    border-bottom-right-radius:0px ;

    
}
.rightCol .rating h6{
    text-align: center;
    color: white;
    font-weight: 400;
} 
.rightCol .rating h4{
    color: white;
    font-weight: 600;
    
    margin: 13px;
    text-align: center;
}
.rating  .starDiv{
    display: flex;
}
.rating  .starDiv i  {
    color: #fcaf07;
    font-size: 22px;
}
.rating  .starDiv i + i {
    margin-left: 5px;
    color: #fcaf07;
}
.outOfRating{
    color: #0f80de;
    margin: 0px;
    text-align: center;
    padding: 5px 0px;
}
.lastUdpateDate{
    background: #3974e4;
    color: white;
    padding: 7px;
    text-align: center;
}
.lastUdpateDate p{
    margin-bottom:0px ;
    color: white;
}
.lastUpdate .cardHeading{
    background: #675fd9;
    color: white;
    text-align: center;
    padding: 8px;
    font-weight: 500;
    margin: 0;
}
.lastUpdate .cardImages{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: #ececec;
}
.lastUpdate .cardImages img{
width: 20rem;

}
.lastUpdate .cardImages img + img{
    margin-left: 10px;
}
.lastUpdate .gurantyDiv{
    background:  #ececec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}
.lastUpdate .gurantyDiv img{
    
    width: 120px;

}